@import url('https://fonts.googleapis.com/css2? family= Inter+Tight:ital,wght@0,200;0,300;1,200;1,300;1,400 & display=swap');

body {
    background-color: rgb(238, 242, 245);
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;

}


#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;

}

h1 {
    font-weight: 200;
    font-size: 60px;
}

a{
    color: black;
}

a:hover {
    color: rgb(105, 82, 162)
   
}

#Contatos-btn {
    border: 2px solid rgb(105, 82, 162);
    padding: 10px;
    border-radius: 20px;
}

#Contatos-btn:hover {
    background-color: rgb(105, 82, 162);
    color: white;
}

.together {
    width: 100%;
    max-width: 307px;
    margin: auto;
    padding: 10px;
    background-color: rgb(235, 228, 228);
    border-radius: 15px;

}

.text-center {
    text-align: center;
  
}
